@charset "utf-8";
body{margin:0 auto;padding:0;overflow:hidden;font-family:Arial, Helvetica, sans-serif;font-size:0.75rem;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
/* dom 结构元素 */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin:0;padding:0;}
ul,li{list-style:none}i{font-style:normal}
/* 修改placeholder color */
::-webkit-input-placeholder {color: #BABABA;}
:-moz-placeholder {color: #BABABA;}
::-moz-placeholder {color: #BABABA;}
:-ms-input-placeholder {color: #BABABA;}
input,textarea,button,select{appearance:none;-webkit-appearance:none;outline:none;margin:0;padding:0;font-size:.75rem;color:#666;box-shadow:none;border:0}textarea{resize:none}
button{border:none}a{text-decoration:none;color:#666}
/*所以元素清除默认样式-清除ios点击元素产生的半透明的灰色背景-设置元素和子元素的文本将不可选*/
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-user-select:none;-webkit-box-sizing:border-box;box-sizing:border-box}
/* IE input X 去掉文本框的叉叉和密码输入框的眼睛图标 */
::-ms-clear,::-ms-reveal {display: none;}
/*左右浮动*/
.l{ float: left;}
.r{ float: right;}
/*清除浮动*/
.clear:after{content:"";display:block;visibility:hidden;height:0;font-size:0;clear:both}
/*隐藏元素*/
.hide {display: none;}
::-webkit-scrollbar{width:1px;height:1px;background-color:#F5F5F5}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0.3);border-radius:1px;background-color:#F5F5F5}
::-webkit-scrollbar-thumb{border-radius:1px;-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,.3);background-color:#555}
/*iphone各类手机兼容*/
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) { /* 兼容iphone4*/  }
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) { /* 兼容iphone5*/  }
@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2) {  /* 兼容iphone6*/  }
@media (device-width:414px) and (-webkit-min-device-pixel-ratio:3) {  /* 兼容iphone6p*/  }

/*动画列表*/
.jump {
  animation: jump_up 5s ease-out infinite;
  transform: translateY(-5rem);
}
@keyframes jump_up {
  0% {
    transform: translateY(-5rem);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4rem);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5rem);
  }
}
@keyframes shoot-yes {
  0% {
    transform: scale(1);
  }
  60% {
    transform: translateY(-10rem) scale(0.3);
  }
  100% {
    transform: translateY(-7.8rem) scale(0.22);
  }
}
@keyframes shoot-no {
  0% {
    transform: scale(1);
  }
  60% {
    transform: translatey(-7.5rem) scale(0.3);
  }
  100% {
    transform: translateY(-5rem) scale(0.22);
  }
}
@keyframes shoot-right {
  0% {
    transform: scale(1);
  }
  100% {
    transform: translate(3rem, -10rem) scale(0.3);
  }
}
@keyframes shoot-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: translateY(-11rem) scale(0.28);
  }
}
@keyframes huangdong {
  0% {
    transform: skewY(0) scale(1);
  }
  25% {
    transform: skewY(0) scale(1.05);
  }
  50% {
    transform: skewY(0) scale(1);
  }
  75% {
    transform: skewY(0) scale(1.05);
  }
  100% {
    transform: skewY(0) scale(1);
  }
}
@keyframes bar-type {
  0% {
    height: 4.5rem;
  }
  50% {
    height: 0;
  }
  100% {
    height: 3.5rem;
  }
}
.shoot-yes {
  animation: 1s shoot-yes cubic-bezier(0.42, 0, 1, 1) forwards;
}
.shoot-no {
  animation: 0.8s shoot-no ease forwards;
}
.shoot-right {
  animation: 1s shoot-right ease forwards;
}
.shoot-out {
  animation: 1s shoot-out ease forwards;
}
.huangdong {
  animation: 4s huangdong ease infinite alternate;
}

.warp{
  position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;z-index: -1;
  .bg{
    width: 100%;height: 100%;min-height: 26rem;
  }
  .bg_center{
    width: 100%;
  }
  .begin{
    width: 6.5rem;
    position: absolute;bottom: 8%;left: 0;right: 0;margin: auto;
  }
  .qqx{
    position: absolute;right: 1.25rem;top: 1.75rem;width: 2.5rem;
    img{
      width: 100%;
    }
  }
}
