.main{
  position: fixed;top: .88rem;bottom: .88rem;left:0;right:0;margin:auto;z-index:99;
  overflow-x: hidden;overflow-y: scroll;-webkit-overflow-scrolling: touch;
  background-color: #fff;
}
.main-bg{
  background-color: #f8f8f8;
}
input[type=checkbox]{
  background-color: transparent;
}
